.scrapbook {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  order: 1;
  padding: 0;

  li {
    position: relative;
  }

  .artist {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 2;
    font-size: 1.25rem;
    font-weight: 500;
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
